<div class="alerts mt-3 rounded-2">
  <h4 class="h4 px-2 mt-1">Alerts:</h4>
  <div class="card shadow text-dark bg-light mb-3 w-100">
    <div class="card-header">today 11:00</div>
    <div class="card-body">
      <h5 class="card-title">MACD crossed</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>
  </div>
</div>