<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Register</title>

</head>

<body class="vh-100">
  <main class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <form action="/register" method="post" id="register-form"
        class="col-md-7 col-lg-5 col-sm-12 rounded-2 p-5 shadow-lg">
        <% regErrors.forEach(function(message){ %>
          <div class="alert alert-danger border border-danger small p-1">
            <%=message%>
          </div>
          <% }) %>
            <h4 class="h4 text-secondary">Personal Data</h4>
            <hr class="bg-dark border-2 border-top border-dark mt-0">
            <div class="form-floating mb-1">
              <input name="username" type="text" class="form-control" id="floatingInputName" placeholder="username"
                autocomplete="off">
              <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-1">
              <input name="email" type="email" class="form-control" id="email-register" placeholder="name@example.com"
                autocomplete="off">
              <label for="email-register">Email address</label>
            </div>
            <div class="form-floating  mb-3">
              <input name="password" type="password" class="form-control" id="password-register" placeholder="Password">
              <label for="password-register">Password</label>
            </div>
            <h4 class="h4 text-secondary">Exchange Data</h4>
            <hr class="bg-dark border-2 border-top border-dark mt-0">
            <select type="text" form="register-form" name="exchange" id="exchange"
              class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
              <option selected>Exchange</option>
              <option value="alpaca">alpaca</option>
              <option value="ascendex">ascendex</option>
              <option value="bequant">bequant
              </option>
              <option value="bigone">bigone</option>
              <option value="binance">binance</option>
              <option value="binancecoinm">
                binancecoinm</option>
              <option value="binanceus">binanceus</option>
              <option value="binanceusdm">binanceusdm</option>
              <option value="bit2c">bit2c</option>
              <option value="bitbank">bitbank</option>
              <option value="bitbns">bitbns</option>
              <option value="bitfinex">bitfinex</option>
              <option value="bitfinex2">bitfinex2</option>
              <option value="bitflyer">
                bitflyer</option>
              <option value="bitforex">bitforex</option>
              <option value="bitget">bitget</option>
              <option value="bithumb">bithumb</option>
              <option value="bitmart">bitmart</option>
              <option value="bitmex">bitmex</option>
              <option value="bitopro">bitopro</option>
              <option value="bitpanda">bitpanda</option>
              <option value="bitrue">bitrue
              </option>
              <option value="bitso">bitso</option>
              <option value="bitstamp">bitstamp</option>
              <option value="bitstamp1">
                bitstamp1</option>
              <option value="bittrex">bittrex</option>
              <option value="bitvavo">bitvavo</option>
              <option value="bkex">bkex</option>
              <option value="bl3p">bl3p</option>
              <option value="blockchaincom">blockchaincom</option>
              <option value="btcalpha">btcalpha</option>
              <option value="btcbox">btcbox</option>
              <option value="btcex">btcex</option>
              <option value="btcmarkets">btcmarkets</option>
              <option value="btctradeua">btctradeua</option>
              <option value="btcturk">
                btcturk</option>
              <option value="buda">buda</option>
              <option value="bybit">bybit</option>
              <option value="cex">cex
              </option>
              <option value="coinbase">coinbase</option>
              <option value="coinbaseprime">coinbaseprime</option>
              <option value="coinbasepro">coinbasepro</option>
              <option value="coincheck">coincheck</option>
              <option value="coinex">coinex
              </option>
              <option value="coinfalcon">coinfalcon</option>
              <option value="coinmate">coinmate</option>
              <option value="coinone">coinone</option>
              <option value="coinspot">coinspot</option>
              <option value="cryptocom">cryptocom
              </option>
              <option value="currencycom">currencycom</option>
              <option value="delta">delta</option>
              <option value="deribit">
                deribit</option>
              <option value="digifinex">digifinex</option>
              <option value="exmo">exmo</option>
              <option value="flowbtc">flowbtc</option>
              <option value="fmfwio">fmfwio</option>
              <option value="gate">gate</option>
              <option value="gemini">gemini</option>
              <option value="hitbtc">hitbtc</option>
              <option value="hitbtc3">hitbtc3</option>
              <option value="hollaex">hollaex</option>
              <option value="huobi">huobi</option>
              <option value="huobijp">huobijp</option>
              <option value="idex">idex</option>
              <option value="independentreserve">independentreserve</option>
              <option value="indodax">
                indodax</option>
              <option value="itbit">itbit</option>
              <option value="kraken">kraken</option>
              <option value="kucoin">
                kucoin</option>
              <option value="kucoinfutures">kucoinfutures</option>
              <option value="kuna">kuna</option>
              <option value="latoken">latoken</option>
              <option value="lbank">lbank</option>
              <option value="lbank2">lbank2</option>
              <option value="luno">luno</option>
              <option value="lykke">lykke</option>
              <option value="mercado">mercado</option>
              <option value="mexc">mexc</option>
              <option value="mexc3">mexc3</option>
              <option value="ndax">ndax</option>
              <option value="novadax">novadax</option>
              <option value="oceanex">oceanex</option>
              <option value="okcoin">okcoin</option>
              <option value="okx">okx</option>
              <option value="paymium">paymium</option>
              <option value="phemex">phemex</option>
              <option value="poloniex">poloniex</option>
              <option value="poloniexfutures">poloniexfutures</option>
              <option value="probit">
                probit</option>
              <option value="ripio">ripio</option>
              <option value="stex">stex</option>
              <option value="therock">
                therock</option>
              <option value="tidex">tidex</option>
              <option value="timex">timex</option>
              <option value="tokocrypto">
                tokocrypto</option>
              <option value="upbit">upbit</option>
              <option value="wavesexchange">wavesexchange</option>
              <option value="wazirx">wazirx</option>
              <option value="whitebit">whitebit</option>
              <option value="woo">woo</option>
              <option value="yobit">yobit</option>
              <option value="zaif">zaif</option>
              <option value="zb">zb</option>
              <option value="zipmex">
                zipmex</option>
              <option value="zonda">zonda</option>
            </select>
            <div class="form-floating mb-1">
              <input type="text" name="publickey" class="form-control" id="PublicKey" placeholder="PublicKey"
                autocomplete="off">
              <label for="PublicKey">Public Key</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" name="apisecretkey" class="form-control" id="ApiSecretKey" placeholder="ApiSecretKey"
                autocomplete="off">
              <label for="ApiSecretKey">Api Secret Key</label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg w-100 mb-3">Register</button>
            <p>Already have an account? <a href="/" class="link-primary fw-bold text-decoration-none">Login</a></p>
      </form>
    </div>

  </main>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>